<!--
  加载容器组件
-->
<div class="my-6 sm:my-10" aria-live="polite" aria-atomic="true">
  <div
    id="loading-sentinel"
    class="flex min-h-[40px] items-center justify-center"
  >
    <span
      id="loading-spinner"
      class="loading loading-spinner loading-sm text-primary hidden"></span>
    <div
      id="end-message"
      class="text-base-content/50 hover:text-primary/50 hidden cursor-pointer text-center text-xs transition-colors duration-200"
    >
      <span id="total-count">已加载全部 0 条数据</span>
    </div>
  </div>
</div>
