<!--
  加载容器组件
-->
<div id="loading-container" class="my-10">
  <div
    id="loading-sentinel"
    class="min-h-[40px] flex items-center justify-center"
  >
    <span
      id="loading-spinner"
      class="loading loading-spinner loading-sm text-primary hidden"></span>
    <div
      id="end-message"
      class="hidden text-center text-base-content/50 text-xs cursor-pointer hover:text-primary/50 transition-colors duration-200"
    >
      <span id="total-count">已加载全部 0 条数据</span>
    </div>
  </div>
</div>
