---
import { APP_CONFIG } from "../types/settings";
const { appName = APP_CONFIG.APP_NAME } = Astro.props;
---

<a
  href="/"
  class="flex items-center gap-2 group"
  title={appName}
  aria-label="返回首页"
>
  <img src="/favicon.svg" alt={appName} class="w-8 h-8" />
  <span class="text-2xl font-bold text-base-content tracking-tight"
    >{appName}</span
  >
</a>