<!-- 骨架屏 -->
<ul id="skeleton-state" class="hidden">
{
    Array.from({ length: 5 }).map(() => (
    <li class="border-b border-base-content/5 last:border-b-0">
        <div class="flex items-center justify-between gap-4 px-4 sm:px-5 py-3">
        <div class="flex-1 min-w-0 space-y-2">
            <div class="skeleton h-4.5 w-32 rounded-md"></div>
            <div class="skeleton h-3.5 w-full max-w-md rounded-md"></div>
        </div>
        <div class="flex items-center gap-3 shrink-0">
            <div class="skeleton h-6 w-14 rounded-md"></div>
            <div class="skeleton h-3.5 w-3.5 rounded-sm"></div>
        </div>
        </div>
    </li>
    ))
}
</ul>